* {
    padding: 0;
    margin: 0;
  }
  
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#discardPile {
    margin-bottom: 50px;
    overflow: auto;
    height: 236px;
    width: 708px;
}  

#currentCard {
    border-radius: 10px;
    width: 200px;
    height: 289px;
}

.playButton {
    margin-top: 50px;
    flex: 20%;
    width: 155px;
    max-width: 309px;
    padding: 5px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: large;
    border-color: lightskyblue;
    background-color: lightblue;
}
